<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='uploads/favicon.ico') }}" type = “image/x-icon”>
<link rel="icon" href="{{ url_for('static', filename='uploads/favicon.ico') }}" type = “image/x-icon”>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

    .donate-button {
        background-color: white !important;
    }

    .H1 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 32px;
        color: #000000;
        padding: 0;
        margin: 0;
    }

    .H2 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        color: #000;
        padding: 0;
        margin-top: 4px;
        background: white;
    }

    .body {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        color: #5E5E5E;
        padding: 0;
        margin-top: 4px;
    }



    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .column {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding: 5px;
    }

    .left {
        text-align: left;
    }

    .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: center;
    }

    .wrapper>* {
        padding: 10px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }

    .video {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        -webkit-box-flex: 2;
        -webkit-flex: 2;
            -ms-flex: 2;
                flex: 2;
        min-height: 320px;
    }

    .support {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .button {
        border: none;
        background-color: #00BA07;
        color: #ffffff;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        margin: 16px 0 16px 0;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    .button:hover {
        background-color: #009906;
    }

    .l200 {
        margin-right: -30px;
    }

    .mainwrapper {
        margin: 0 16px;
    }

    @media only screen and (min-width: 768px) {

        /* For desktop: */
        .mainwrapper {
            max-width: 1320px;
            margin: 0 auto;
        }
        
        .support {
            -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        }

        .secondwrapper {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>
<head>
  <title>At Kenza's</title>
</head>
<body>
    <div class="mainwrapper">
        <div class="wrapper">
            <h1 class="H1">Donation instead of presents</h1>
            <p class="body">Our good friend Kenza is having a birthday on October 16, and it's time to think about what we could gift her. We know that she is not that much into material goods. So we were thinking maybe you, the reader, would like to donate a small amount in her name to any of the below mentioned organizations instead of buying a present. It may save you some time and efforts, but for us it would be the best imaginable present! We sincerely thank you for your attention, and wish you all the good things life has to offer.
            </br>Cheers!</p>
        </div>
        <div class="wrapper">
            <iframe class="video" src="https://www.youtube.com/embed/FCRGy-exuJQ" 
                frameborder=0
                allowfullscreen></iframe>

            <div class="support">
                <button class="button donate-button" onclick="window.location.href='https://www.unicef.de/page/united-internet-en/donationform'">
                    <img src="unicef.jpg" alt="Unicef" height=64px;
                        style="width:fit">
                    <div class="left">
                </button>

                <button class="button donate-button" onclick="window.location.href='https://donatenow.wfp.org/wfp/~my-donation'">
                    <img src="wfp.png" alt="World Food Programme" height=64px;
                        style="width:fit">
                    <div class="left">
                </button>

                <button class="button donate-button" onclick="window.location.href='http://whc.unesco.org/en/donation'">
                    <img src="unesco.jpeg" alt="UNESCO" height=64px;
                        style="width:fit">
                    <div class="left">
                </button>

                <button class="button donate-button" onclick="window.location.href='https://donate.unwomen.org/en'">
                    <img src="unwomen.png" alt="UNWOMEN" height=64px;
                        style="width:fit">
                    <div class="left">
                </button>

                <button class="button donate-button" onclick="window.location.href='https://www.unaids.org/en/donate'">
                    <img src="unaids.svg" alt="UNAIDS" height=64px;
                        style="width:fit">
                    <div class="left">
                </button>
<!-- 
                <button class="button donate-button" onclick="window.location.href='https://donate.unhcr.org/'">
                    <img src="unhcr.jpg" alt="UNHCR" height=64px;
                        style="width:fit">
                    <div class="left">
                </button> -->

                <p class="body left">
                </p>
            </div>
        </div>
    </div>

</body>

</html>
